* {
  font-family:Helvetica;
  font-style: italic;
  text-align: center;
  background-color:lightblue
}

p {
  font-size:small;
  color:darkcyan;
}

.brand {
  text-transform: uppercase;
  font-family: cursive;
  font-size: 40px;
  font-weight: bold;
  font-style: oblique;
  color:red;
  text-shadow: -1px 1px gray;
}

h2 {
  font-size: 45px;
  font-weight: bolder;
  color:darkgreen;
}

h3 {
  font-size: 30px;
  color:darkblue
}